h1,h2{
  font-weight: normal;
}

h1 {
  text-align: center;
}

app-service-types {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.search-bar-container {
  display: flex;
  justify-content: center;  /* center horizontally */
  margin: 20px 0;           /* vertical spacing */
  width: 100%;
}
