.type-card {
  flex: 0 0 auto;
  margin: 1rem;
  text-align: center;
  scroll-snap-align: start;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Adicionado para evitar que extrapole */
  transform-origin: center center;
  contain: layout; /* Previne "vazamento" */
  z-index: 1;
}

.type-card:hover {
  /* Use um scale menor se possível */
  transform: scale(1.05);
  z-index: 2; /* Garante que fique acima dos vizinhos */
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  align-items: center;
  max-height: 150px;
  box-sizing: border-box;
  /* Impede scroll extra com padding em vez de gap nas bordas */
  padding-inline: 0.5rem;
}

.type-icon {
  font-size: 32px;
  color: #3f51b5;
}

.type-icon img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: inline-block;
}

h3{
  font-family: 'Roboto', sans-serif;
;
}
