.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;

  padding: 1px 3px;
  font-size: 10px;

  position: relative; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}

.notification-button {
  transition: transform 0.25s ease, color 0.2s ease-in-out;
}

.notification-button:hover {
  cursor: pointer;
  color: #e0f7ff;
  transform: scale(1.08)
}
