<div class="highlighted">
  <div *ngFor="let service of services" class="service-card" (click)="onCardClick(service.id)">
    <div class="image-container">
      <img [src]="service.image_url || defaultImage"
           (error)="onImgError($event)"
           alt="Service Image" />
      <div class="rating-badge" *ngIf="service.averageRating">
        ★ {{ service.averageRating }}
      </div>
    </div>
    <div class="service-info">
      <h3>{{ service.name }}</h3>
      <p>{{ service.price | currency:'EUR' }}</p>
    </div>
  </div>
</div>
