<div class="highlighted">
  <div *ngFor="let service of services" class="service-card">
    <div class="image-container">
      <img [src]="service.image_url || defaultImage"
           (error)="onImgError($event)"
           alt="Service Image" />
      <div class="rating-badge">
        ★ {{ service.averageRating && service.averageRating > 0 ? service.averageRating : 'N/A' }}
      </div>
    </div>
    <div class="service-info">
      <h3>{{ service.name }}</h3>
      <p>{{ service.price | currency:'EUR' }}</p>
    </div>
  </div>
</div>
