@if (loading()) {
  <app-loading/>
} @else {
  <app-controls-bar
    [pageSize]="pageSize"
    [sortOrder]="sortOrder">
  </app-controls-bar>
  <div class="main-content">
    <button (click)="buildDummyData()"></button>
    <div class="results-container">
      @if (services().length === 0) {
        <div class="no-services-message">
          <h2>You don't have any services</h2>
          <p>Let's create one!</p>
        </div>
      } @else {
        <app-service-list [services]="services"></app-service-list>
      }

      <app-pagination-bar
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [goToPageFn]="goToPage.bind(this)"
        [goToPreviousPageFn]="goToPreviousPage.bind(this)"
        [goToNextPageFn]="goToNextPage.bind(this)"
      ></app-pagination-bar>

    </div>
  </div>
}

