<table>
  <tr>
    <td>Name\Permissions</td>
    <th id="permissions-header" *ngFor="let perm of permissions;">{{ getProviderPermissionEnumLabel(perm) }}</th>
  </tr>
  @for (provider of serviceProviders(); track provider.id) {
    <tr>
      <td>{{ provider.memberName }}</td>

      @for (permission of permissions; track permission) {
        <td>
          <input type="checkbox" [checked]="provider.permissions.includes(permission)"
          (change)="togglePermission(provider, permission)">
        </td>
      }
      <div class="icons-container">
        <fa-icon [icon]="faFloppyDisk" class="update-icon" (click)="updatePermissions(provider)">
        </fa-icon>
        <fa-icon [icon]="faTrash" class="remove-icon" (click)="removeServiceProvider(provider)">
        </fa-icon>
      </div>
    </tr>
  }
</table>
<div>
  <input type="text" id="name"
         [ngModel]="searchTerm | async"
         (ngModelChange)="searchTerm.next($event)"
         class="search-input" [ngClass]="selectedWorker() ? 'is-selected' : ''"
         placeholder="Search For New Worker"/>
  <button type="button" (click)="addWorker()">Add Worker</button>

  <ul class="new-workers-list" *ngIf="newWorkers && !selectedWorker()">
      @if (newWorkers.length <= 0) {
        <li class="worker-item">No workers match query</li>
      } @else {
      <li *ngFor="let worker of newWorkers" class="worker-item" (click)="selectWorker(worker)">
        <strong>{{worker.username}}</strong>
      </li>
      }
  </ul>
</div>


