@if (loading()) {
    <app-loading/>
} @else {
    <app-controls-bar
            [pageSize]="pageSize"
            [sortOrder]="sortOrder"
            [onChange]="onFilterChange.bind(this)">
    </app-controls-bar>
    <div class="main-content">
        <app-sidebar-filters
                [filters]="filters"
                [appliedFilters]="appliedFilters"
                [serviceTypes]="serviceTypes"
                [onFilterChange]="onFilterChange.bind(this)"
        ></app-sidebar-filters>
        <div class="results-container">

            <app-service-list
                    [services]="services">
            </app-service-list>

            <app-pagination-bar
                    [currentPage]="currentPage"
                    [totalPages]="totalPages"
                    [goToPageFn]="goToPage.bind(this)"
                    [goToPreviousPageFn]="goToPreviousPage.bind(this)"
                    [goToNextPageFn]="goToNextPage.bind(this)"
            ></app-pagination-bar>

        </div>
    </div>
}
