<div class="card">
  @if (loading()) {
    <app-loading/>
  } @else {
    @if (isMyServices) {
      <div style="max-width: 100%">
        <div class="header-container">
          <h2 class="title">My Services</h2>
          <button class="new-service-btn" routerLink="/backoffice/create-service">New Service</button>
        </div>
        <ng-container *ngTemplateOutlet="mainContent"></ng-container>
      </div>
    } @else {
      <h2 class="title" style="margin-top: 0; margin-bottom: 10px;">{{member.username}}'s Services</h2>
      <ng-container *ngTemplateOutlet="mainContent"></ng-container>
    }
    <ng-template #mainContent>
      <div class="main-content">
        <div class="results-container">
          @if (services().length === 0) {
            <div class="no-services-message">
              @if (!member.id) {
                <ng-container>
                  <p>You don't have any services. Let's create one!</p>
                </ng-container>
              } @else {
                <ng-container>
                  <span style="font-family: 'Poppins', sans-serif; text-align: center; margin-top:2rem">There aren't any services available.</span>
                </ng-container>
              }
            </div>
          } @else {
            <app-controls-bar
              [pageSize]="pageSize"
              [sortOrder]="sortOrder">
            </app-controls-bar>
            <app-service-list [services]="services()" clickPath="/backoffice/services"></app-service-list>
          }

          <app-pagination-bar
            [currentPage]="currentPage"
            [totalPages]="totalPages"
            [goToPageFn]="goToPage.bind(this)"
            [goToPreviousPageFn]="goToPreviousPage.bind(this)"
            [goToNextPageFn]="goToNextPage.bind(this)"
          ></app-pagination-bar>

        </div>
      </div>
    </ng-template>
  }
</div>

