.new-service-btn{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  align-items: center;
  background-color: #3B82F6;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s, transform 0.3s;
  padding: 15px;
}

.new-service-btn:hover{
  background-color: #4CAF50;
  transform: scale(1.05);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title{
  margin-bottom: 1rem;
  color: #007bff;
  border-left: 5px solid #007bff;
  padding-left: 1rem;
  font-weight: 600;
}

