<header class="header">
  <nav class="nav">
    <a class="nav-item" routerLink="/appointments">appointment-history</a>
    <div class="home-link">
        <a class="nav-item" routerLink="/">🏠 Home</a>
    </div>

      <form class="search-form" [formGroup]="form" (ngSubmit)="onSearch()">
          <input
                  type="text"
                  formControlName="query"
                  placeholder="Search services"
                  maxlength="100"
                  class="search-input"
          />
          <button type="submit" class="search-button">🔍</button>
      </form>

    <div class="right-links">
      <div class="user-profile">
      @if (username()) {
        <app-profile-button/>
      } @else {
        <a class="nav-item" routerLink="/auth">🔐 Login</a>
      }
      </div>
    </div>
  </nav>
</header>
