
@if(loading()) {
  <app-loading/>
} @else {

    <div class ="service-page">

        <div class="image-section card">
            <div class="image-wrapper">
<!--                <button class="nav left" (click)="prevImage()" [disabled]="currentImageIndex === 0">&#10094</button>-->
                <img [src] ="imageUrl()" alt="Service Image" class = "main-image" />

<!--                <button class = "nav right" (click)="nextImage()" [disabled]="currentImageIndex === service?.images-length - 1"> &#10095</button>-->
            </div>

            <div class="thumbnails">
                CENAS AQUI
            </div>
        </div>

        <div class="info-section card" >
            <h2>{{ service?.name  }}</h2>
<!--            Meter isto a dar link para uma pesquisa por este service type-->
          <div class ="type-and-duration">
            <h3> {{ service?.serviceTypeName }}</h3>
            <div *ngIf="formatedTimeMinutes != null && formatedTimeMinutes > 0; else onlyHours">
              <span class="duration-info">🕒 {{ formatedTimeHours }}h:{{ formatedTimeMinutes }} min</span>
            </div>
          </div>

      <ng-template #onlyHours>
        <span class="duration-info">🕒 {{ formatedTimeHours }} H</span>
      </ng-template>


      <div *ngIf="service?.tagNames?.length" class="tag-list">
            <span *ngFor="let tag of service?.tagNames" class="tag">
              {{ tag }}
            </span>
          </div>

          <ng-container *ngIf="discountedPrice !== null; else normalPrice">
                <div class="price-container">
                    <div class="price-details">
                        <div class="original-price" style="text-decoration: line-through; color: grey;">
                            {{ service?.price }}€
                        </div>
                        <div class="discounted-price" style="font-weight: bold;">
                            {{ discountedPrice }}€
                        </div>
                    </div>
                    <div class="discount-badge" style="background-color: red; color: white; padding: 4px 8px; border-radius: 5px;">
                        -{{ service?.discount }}%

                    </div>

                </div>
<!--                COMENTADO PORQUE NAO SABEMOS SE VAMOS IMPLEMENTAR ALGUMA MANEIRA DE CONTACTAR O SERVICE-->
<!--                <span *ngIf="service!.negotiable" class="negotiable-label">-->
<!--                                NEGOTIABLE-->
<!--                            </span>-->
            </ng-container>

            <ng-template #normalPrice>
                <div class="normal-price" style="font-weight: bold;">{{ service?.price }}€</div>
            </ng-template>

            <button class="schedule-btn">Schedule Appointment</button>

        </div>
    </div>

  <div class="service-description">
    <h3><i class="fa-solid fa-info-circle"></i> Description</h3>
    <p>
      Comprehensive English tutoring with therapeutic relaxation sessions.
    </p>
  </div>

}
