<div class="auth-container">
  <h2>{{ isLoginMode() ? 'Login' : 'Sign Up' }}</h2>

  <form [formGroup]="authForm" (ngSubmit)="submit()">

    @if (isLoginMode()){
      <input type="text" formControlName="login" placeholder="Email or Username" required />
      <div class="validation-error" *ngIf="authForm.get('login')?.invalid && authForm.get('login')?.touched">
        Please provide an email or username.
      </div>
    } @else {
      <input type="email" formControlName="email" placeholder="Email" required/>
      <div class="validation-error" *ngIf="authForm.get('email')?.errors?.['required'] && authForm.get('email')?.touched">
        Email is required.
      </div>
      <div class="validation-error" *ngIf="authForm.get('email')?.errors?.['email'] && authForm.get('email')?.touched">
        Enter a valid email.
      </div>

      <input type="text" formControlName="username" placeholder="Username" required/>
      <div class="validation-error" *ngIf="authForm.get('username')?.errors?.['required'] && authForm.get('username')?.touched">
        Username is required.
      </div>
      <div class="validation-error" *ngIf="authForm.get('username')?.errors?.['specialCharsNotAllowed'] && authForm.get('username')?.touched">
        Special characters are not allowed in the username.
      </div>
    }

    <input type="password" formControlName="password" placeholder="Password" required />
    <div class="validation-error" *ngIf="authForm.get('password')?.errors?.['required'] && authForm.get('password')?.touched">
      Password is required.
    </div>
    <div class="validation-error" *ngIf="authForm.get('password')?.errors?.['weakPassword'] && authForm.get('password')?.touched">
      Password must be at least 8 characters and include uppercase, lowercase, digit, and special character.
    </div>


    @if (!isLoginMode()){

      <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" [class.ng-invalid]="authForm.hasError('passwordsMismatch') && authForm.get('confirmPassword')?.touched" required />
      <div class="validation-error" *ngIf="authForm.hasError('passwordsMismatch') && authForm.get('confirmPassword')?.touched">
        Passwords do not match.
      </div>
    }

    <button type="submit" [disabled]="authForm.invalid">
      {{ isLoginMode() ? 'Login' : 'Create Account' }}
    </button>
  </form>

  <p>
    {{ isLoginMode() ? "Don't have an account?" : 'Already have an account?' }}
    <button type="button" (click)="toggleMode() ">
      {{ isLoginMode() ? 'Sign up' : 'Login' }}
    </button>
  </p>
</div>
