<div class="auth-container">
  <h2>{{ isLoginMode() ? 'Login' : 'Sign Up' }}</h2>

  <form [formGroup]="authForm" (ngSubmit)="submit()">

    @if (isLoginMode()){
      <input type="text" formControlName="login" placeholder="Email or Username" required maxlength="255" />
      <div class="validation-error" *ngIf="authForm.get('login')?.errors?.['required'] && authForm.get('login')?.touched">
        Email/Username is required.
      </div>
      <div class="validation-error" *ngIf="authForm.get('login')?.errors?.['maxlength'] && authForm.get('login')?.touched">
        Please insert 254 characters or less.
      </div>
    } @else {
      <input type="email" formControlName="email" placeholder="Email" required/>
      <div class="validation-error" *ngIf="authForm.get('email')?.errors?.['required'] && authForm.get('email')?.touched">
        Email is required.
      </div>
      <div class="validation-error" *ngIf="authForm.get('email')?.errors?.['email'] && authForm.get('email')?.touched">
        Enter a valid email.
      </div>
      <div class="validation-error" *ngIf="authForm.get('email')?.errors?.['maxlength'] && authForm.get('email')?.touched">
        Email must be at most 254 characters.
      </div>
      <div class="validation-error" *ngIf="authForm.get('email')?.errors?.['serverError']" >
        {{ authForm.get('email')?.errors?.['serverError'] }}
      </div>

      <input type="text" formControlName="username" placeholder="Username" required/>
      <div class="validation-error" *ngIf="authForm.get('username')?.errors?.['required'] && authForm.get('username')?.touched">
        Username is required.
      </div>
      <div class="validation-error" *ngIf="(authForm.get('username')?.errors?.['minlength'] || authForm.get('username')?.errors?.['maxlength']) && authForm.get('username')?.touched">
        Username must be between 4 and 20 characters.
      </div>
      <div class="validation-error" *ngIf="authForm.get('username')?.errors?.['specialCharsNotAllowed'] && authForm.get('username')?.touched">
        Special characters are not allowed in the username.
      </div>
      <div class="validation-error" *ngIf="authForm.get('username')?.errors?.['serverError']" >
        {{ authForm.get('username')?.errors?.['serverError'] }}
      </div>
    }

    <div class="password-wrapper">
      <label class="password-label">
        <input [type]="passwordVisible() ? 'text' : 'password'" formControlName="password" placeholder="Password" required />
        <span class="toggle-password" (click)="togglePasswordVisibility($event)" style="cursor:pointer;">
            <span class="material-symbols-outlined" *ngIf="passwordVisible()">visibility_off</span>
            <span class="material-symbols-outlined" *ngIf="!passwordVisible()">visibility</span>
        </span>
      </label>
    </div>
    @if (isLoginMode()){
      <div class="validation-error" *ngIf="authForm.get('password')?.errors?.['maxlength'] && authForm.get('password')?.touched">
        Please insert 64 characters or less.
      </div>
    }
    @else {
      <div class="validation-error" *ngIf="authForm.get('password')?.errors?.['weakPassword'] && authForm.get('password')?.touched">
        Password must include uppercase, lowercase, digit, and special character.
      </div>
      <div class="validation-error" *ngIf="(authForm.get('password')?.errors?.['minlength'] || authForm.get('password')?.errors?.['maxlength']) && authForm.get('password')?.touched">
        Password must be between 8 and 64 characters.
      </div>
    }
    <div class="validation-error" *ngIf="authForm.get('password')?.errors?.['required'] && authForm.get('password')?.touched">
      Password is required.
    </div>


    @if (!isLoginMode()){
      <div class="password-wrapper">
        <label class="password-label">
          <input [type]="confirmPasswordVisible() ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Confirm Password" [class.ng-invalid]="authForm.hasError('passwordsMismatch') && authForm.get('confirmPassword')?.touched" required />
          <span class="toggle-password" (click)="toggleConfirmPasswordVisibility($event)" style="cursor:pointer;">
            <span class="material-symbols-outlined" *ngIf="confirmPasswordVisible()">visibility_off</span>
            <span class="material-symbols-outlined" *ngIf="!confirmPasswordVisible()">visibility</span>
          </span>

        </label>
      </div>
      <div class="validation-error" *ngIf="authForm.hasError('passwordsMismatch') && authForm.get('confirmPassword')?.touched">
        Passwords do not match.
      </div>
        <div class="checkbox-group">
            <label>
                <input type="checkbox" formControlName="agreedToTerms" />
                I have read and agreed to the<a href="/terms" target="_blank" rel="noopener" class="link">Terms and Conditions</a>.
            </label>
            <div class="validation-error" *ngIf="authForm.get('agreedToTerms')?.touched && authForm.get('agreedToTerms')?.invalid">
                You must agree to the Terms and Conditions.
            </div>

            <label>
                <input type="checkbox" formControlName="agreedToPrivacy" />
                I have read and agreed to the<a href="/privacy" target="_blank" rel="noopener" class="link">Privacy Policy</a>.
            </label>
            <div class="validation-error" *ngIf="authForm.get('agreedToPrivacy')?.touched && authForm.get('agreedToPrivacy')?.invalid">
                You must agree to the Privacy Policy.
            </div>
        </div>


    }
    <div class="validation-error" *ngIf="errorMessage()">
      {{ errorMessage() }}
    </div>
    <div class="button-container">
      <button type="submit" [disabled]="authForm.invalid || loading()">
        {{ isLoginMode() ? 'Login' : 'Create Account' }}
      </button>
      <span *ngIf="loading()" class="spinner"></span>
    </div>

  </form>

  @if (isLoginMode()) {
    <div class="forgot-password">
      <a [routerLink]="['/forgot-password']">Forgot password?</a>
    </div>
  }

  <p>
    {{ isLoginMode() ? "Don't have an account?" : 'Already have an account?' }}
    <button type="button" [disabled]="loading()" (click)="toggleMode() ">
      {{ isLoginMode() ? 'Sign up' : 'Login' }}
    </button>
  </p>
</div>
