<div class="auth-container">
  <h2>Reset Password</h2>
  @if (!resetSent) {
    <form [formGroup]="forgotForm" (ngSubmit)="submit()">
      <input type="email" formControlName="email" placeholder="Enter your email" required/>
      <div class="validation-error" *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched">
        Please enter a valid email address.
      </div>

      <div class="button-container">
        <button type="submit" [disabled]="forgotForm.invalid || loading">Send Reset Link</button>
        <span *ngIf="loading" class="spinner"></span>
      </div>
    </form>
  }
  <p *ngIf="message" class="success-message">{{ message }}</p>
</div>
