<div class = "tailwind-scope">
@if (loading()) {
  <app-loading/>
} @else {
    <div class="card" style="max-width: 100%">
      <div class="header-container">
        <h2>Services to approve</h2>
        <app-controls-bar
          [pageSize]="pageSize"
          [sortOrder]="sortOrder">
        </app-controls-bar>
      </div>
      <ng-container *ngTemplateOutlet="mainContent"></ng-container>
    </div>

  <ng-template #mainContent>
    <div class="main-content">
      <div class="results-container">
        @if (services().length === 0) {
          <div class="no-services-message">
              <ng-container>
                <h2 style="font-weight: lighter; text-align: center; margin-top:2rem">There are no services in need of approval</h2>
              </ng-container>
          </div>
        } @else {
          <app-service-list [services]="services()" clickPath="/services" [shouldShowTags]="false">
            <ng-template let-service>
              <div class="flex justify-between p-2">
                <button (click)="rejectService(service); $event.stopPropagation()"
                        class="w-20 py-2 rounded-full bg-red-600 text-white hover:bg-red-700 transition"
                >
                  Reject
                </button>

                <button (click)="approveService(service); $event.stopPropagation()"
                        class="w-20 py-2 rounded-full bg-blue-600 text-white hover:bg-blue-700 transition"
                >
                  Approve
                </button>
              </div>
            </ng-template>
          </app-service-list>

        }

        <app-pagination-bar
          [currentPage]="currentPage"
          [totalPages]="totalPages"
          [goToPageFn]="goToPage.bind(this)"
          [goToPreviousPageFn]="goToPreviousPage.bind(this)"
          [goToNextPageFn]="goToNextPage.bind(this)"
        ></app-pagination-bar>

      </div>
    </div>
  </ng-template>
}
</div>
