h2{
  font-size: 40px;
  margin: 0;
}

.new-service-btn{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  align-items: center;
  gap: 6px;
  background-color: #3B82F6;
  color: white;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  transition: background 0.3s, transform 0.3s;
}

.new-service-btn:hover{
  background-color: #4CAF50;
  transform: scale(1.05);
}

.header-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
